:root {
    --background: #000000;
    --subtext: #ffffffcc;
    --text: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
}

.infos{
    height: 10vh;
    width: 100vw;
    background-color: blue;
    display: flex;
}

.global-content{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    gap: 10px;
}

.dashboard, .content, .feed{
    height: 100%;
    background-color: rgb(58, 55, 55);
}

.dashboard, .infos-dashboard{
    width: 20%;
}

.dashboard{
    padding: 20px;
}

.content, .infos-content{
    width: 50%;
}

.feed, .infos-feed{
    width: 30%;
}

.tabs-container, .dashboard-title-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.tabs{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 60%;
}

.dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        color: var(--subtext);
    }
}

.dashboard-title{
    background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    width: 75%;
    align-items: center;
    padding: 10px;
    justify-content: center;
    gap: 15px;
    h2{
        color: #000000;
    }
    margin-bottom: 50px;
}

.dashboard-icons{
    width: 30px;
    height: 30px;
}

.feed-icons{
    width: 55px;
    height: 55px;
}

.feed-cards{
    display: flex;
    flex-direction: row;
    
}